In [16]:
Matematika = 'Hari senin matkul Algoritma'
print (Matematika [0:10])
#Disini variabel berupa string diurutkan dengan index yang dimulai dari 0. 
#Dimana pada kata pertama adalah 0 dan urutan yang kita perintahkan dikurangi satu.
#Contohnya seperti diatas, saya membuat string index dari 0 hingga 10, yang dimana nanti yang terhitung adalah sampai urutan ke-9.

Hari senin

In [10]:
Matematika = 'Hari senin matkul Algoritma'
print (Matematika [0:-6])
#Hal menarik dari python adalah pada string index ini urutan terakhir akan terhitung sebagai -1 
#dan begitupun selanjutnya jika menghitung dari urutan terakhir.

Hari senin matkul Alg

In [17]:
Matematika = 'Hari senin matkul Algoritma'
print (Matematika [0:-4:6])
#Disini menghasilkan output yang sedikit aneh karena menggunakan 3 pembagian urutan.
#Jadi maksud dari string ini adalah index yang dimulai dari 0 kemudian huruf yang akan muncul adalah urutan setiap kelipatan 6 
#hingga dengan batas -4 yang tertera. Jadi jika -4 itu ada pada huruf i maka urutan kelipatan 6 setelah huruf i tidak akan dihitung.

HeaA

In [18]:
Kampus = 'Kampus Bukit Jimbaran banyak hutan'
print(len(Kampus))
#Perintah ini adalah untuk menghitung banyaknya huruf termasuk spasi yang ada pada kalimat tersebut.

34

In [20]:
Kampus = 'Kampus Bukit Jimbaran banyak hutan'
Kampus.upper()
#Perintah ini untuk mengonversi huruf kecil dalam bentuk string ke huruf besar.

'KAMPUS BUKIT JIMBARAN BANYAK HUTAN'

In [23]:
Kampus = 'Kampus Bukit Jimbaran banyak hutan'
Kampus.lower
#Pada perintah ini terjadi kesalahan dikarenakan pada perintah tidak diisi tanda kurung.

In [24]:
Kampus = 'Kampus Bukit Jimbaran banyak hutan'
Kampus.lower()
#Perintah ini untuk mengonversi huruf besar dalam bentuk string ke huruf kecil.

'kampus bukit jimbaran banyak hutan'

In [25]:
Kampus.find('Jimbaran')
#Perintah ini adalah untuk menghitung jumlah huruf pada kata yang kita cari.

13

In [26]:
Kampus.find('Hutan')
#Sama seperti perintah diatas, yaitu menghitung jumlah huruf pada kata yang kita cari.
#Namun kata Hutan dengan huruf H kapital tidak ditemukan pada kalimat yang kita buat, maka output menghasilkan -1.

-1

In [27]:
Kampus.replace('Bukit Jimbaran' , 'Sudirman Denpasar')
#Perintah ini digunakan untuk mengganti kata yang kita perintahkan ke kata yang kita mau.
#Dengan catatan kata yang ingin diganti harus sesuai dengan kalimat yang kita buat.

'Kampus Sudirman Denpasar banyak hutan'

In [28]:
Kampus.replace('jimbaran', 'Sudirman')
#Output dari perintah ini sama saja dengan kalimat awal. Karena disini ada kesalahan pada penulisan kata yang ingin dirubah.
#Yang dimana kata yang saya perintahkan untuk diganti itu tidak sesuai dengan kalimat awal.

'Kampus Bukit Jimbaran banyak hutan'

In [31]:
print('Jimbaran' in Kampus)
#Disini saya menggunakan perintah untuk memastikan kata yang saya masukkan ini terdapat dalam kalimat Kampus.

True

In [32]:
print('bukit' in Kampus)
#Karena penulisan bukit ini tidak terdapat pada kalimat Kampus, maka program menyatakan salah pada perintah ini.

False

In [3]:
print (63988/3)
print (76528//2)
#Dapat dilihat jika kita menggunakan satu garis miring, maka sisa akan muncul pada operasi pembagian ini. 
#Namun, jika menggunakan 2 garis miring maka sisa tidak akan muncul.

21329.333333333332
38264

In [4]:
print (8%3)
print (4**3)
# % merupakan mod yang dimana artinya menghitung sisa bagi.
#Sedangkan ** merupakan operasi pangkat.

2
64

In [5]:
x = 7
y = 3
print (str(x+y))
print (str(x-y))
print (str(x*y))
print (str(x**y))
print (str(x/y))
print (str(x//y))
#Kode diatas merupakan operasi matematika pada python.

10
4
21
343
2.3333333333333335
2

In [9]:
x = float (input('Masukkan x adalah: '))
y = float (input('Masukkan y adalah: '))
x += y
print ("\n Hasil operasi 'x+=y' adalah " , x)
x -= y
print ("\n Hasil operasi 'x-=y' adalah " , x)
x *= y
print ("\n Hasil operasi 'x*=y' adalah " , x)
x /= y
print ("\n Hasil operasi 'x/=y' adalah " , x)
x %= y
print ("\n Hasil operasi 'x%=y' adalah " , x)
x **= y
print ("\n Hasil operasi 'x**=y' adalah " , x)
#Kode ini mengoperasikan variabel x dan y ke operasi matematika, yang dimana nanti hasilnya akan dimasukkan ke variabel x.

Masukkan x adalah: 15
Masukkan y adalah: 4

 Hasil operasi 'x+=y' adalah  19.0

 Hasil operasi 'x-=y' adalah  15.0

 Hasil operasi 'x*=y' adalah  60.0

 Hasil operasi 'x/=y' adalah  15.0

 Hasil operasi 'x%=y' adalah  3.0

 Hasil operasi 'x**=y' adalah  81.0

In [33]:
x = 7>5
print(x)
#Perintah ini untuk menentukan benar atau salah operasi yang kita buat.

True

In [37]:
x = 18<9
print(x)
#Sama dengan perintah diatas, yang dimana untuk menentukan benar atau salah operasi yang dibuat.

False

In [5]:
xx = 3 > 10
print (xx)
yy = 3 < 10
print (yy)

False
True

In [10]:
berat_doni = 58
berat_adi = 71
print (berat_doni > 60 and berat_adi < 80)
print (berat_doni < 60 and berat_adi > 65)
print (berat_doni > 60 or berat_adi < 80)
print (berat_doni > 60 or berat_adi < 65)
#Kode ini merupakan operator logika yang ada di python.
#Pada operasi and output akan benar jika kedua variabel bernilai benar. Jika salah satu bernilai salah, maka output akan salah.
#Pada operasi or output akan salah jika kedua variabel bernilai salah. Jika salah satu bernilai salah, maka output tetap benar.

False
True
True
False

In [10]:
x = float(input('Nilai x '))
if x < 15:
    y = x**3
    print ('Nilai y =' + str(y))
#Print digunakan untuk mengeluarkan output data string yang digunakan dalam kode.

Nilai x 4
Nilai y =64.0