In [1]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

Disini saya mencoba membuat sebuah kode pendek yang dapat menghitung suatu nilai, 
yaitu menghitung detik dalam satu hari.

In [2]:
minutes_in_a_day = 24 * 60
minutes_in_a_day

1440

Sama dengan nomer 1, yaitu menghitung menit dalam satu hari dengan kode yang pendek. Kode ini sangat simple karena hanya menggunakan operasi perkalian.

In [3]:
minutes_in_a_week = 7 * minutes_in_a_day
minutes_in_a_week

10080

Saya mmebuat kode ini karena ingin melanjutkan nomer 2 yang dimana menghitung menit dalam satu minggu. 
Pada operasi perkalian saya langsung menggunakan kode minutes_in_a_day yang sudah tersimpan dalam program sebelumnya. Hasilnya pun tepat.

In [4]:
minutes_in_a_month = 30 * minutes_in_a_day
minutes_in_a_month

43200

In [5]:
minutes_in_a_year = 12 * minutes_in_a_month
minutes_in_a_year

518400

In [6]:
print ("Hello world")

Hello world

Mencoba kode yang sangat simple dari phyton, yaitu menulis Hello world dengan perintah print.

In [7]:
Nama = "Kleo"
Kelas = "Matematika A"
NIM = "2208541005"
print (Nama+" "+Kelas+" "+NIM)

Kleo Matematika A 2208541005

Menggunakan perintah print adalah hal yang simple. Print digunakan untuk memunculkan output yang akan kita print/cetak pada console.

In [8]:
Nama = input("Input nama anda:")
print("Selamat pagi" + " " + Nama)

Selamat pagi Kleo

Disini menggunakan print lagi dan menambahkan input yang digunakan untuk mengambil data. Pada kode ini input akan bekerja saat kita run kode dengan memasukkan data sesuai perintah yang sudah kita buat.

In [9]:
print (10/5)
print (10/4)

2.0
2.5

Pada kode ini menggunakan print untuk menampilkan output dari operasi pembagian yang dibuat.

In [10]:
print (10//3)
print (9//4)

3
2

Disini masih menggunakan operasi pembagian, pembedanya adalah menggunakan garis miring 2 yang artinya membagi tanpa muncul sisa.

In [11]:
print (213/3)
print (214/5)

71.0
42.8

In [12]:
print (63988/3)
print (76528//2)

21329.333333333332
38264

Dapat dilihat jika kita menggunakan satu garis miring, maka sisa akan muncul pada operasi pembagian ini. Namun, jika menggunakan 2 garis miring maka sisa tidak akan muncul.

In [13]:
shirt_height_cm = 45
my_height_cm = 160
#How tall am I in meters when wearing my shirt?
total_height_meters = shirt_height_cm + my_height_cm / 100
print ("Height in meters =" , total_height_meters)

Height in meters = 46.6

Saya mencoba kode ini karena melihat contoh dari kaggle. Disini saya mencoba menghitung tinggi dalam meter. Saya merasa aneh dengan operasi ini karena jika dihitung secara manual itu hasilnya berbeda, jadi saya masih ragu dengan operasi kode ini.

In [18]:
kelas_1 = int(input('Jumlah siswa kelas 1 adalah '))
kelas_2 = int(input('Jumlah siswa kelas 1 adalah '))
print('Total siswa adalah ' + str(kelas_1 + kelas_2))

Total siswa adalah 57

Pada kode ini digunakan int (integer) yang dimana kita akan memasukkan bilangan bulat pada saat run nanti. Disini juga menggunakan str (string) yang dimana merupakan fungsi variabel. Saya menggunakan str karena kelas_1 dan kelas_2 merupakan variabel.
Jika tidak menggunakan str bisa saja program tidak bisa dijalankan karena variabel tidak terbaca.

In [21]:
panjang = int (input ('panjang persegi panjang'))
lebar = int (input ('lebar persegi panjang'))
#Luas persegi panjang
print ('Luas persegi panjang adalah = ' + int(panjang*lebar))

TypeError: can only concatenate str (not "int") to str

Program ini sama dengan yang sebelumnya dimana saya menggunakan int untuk menghitung operasi perkalian yang mencari luas persegi panjang. Namun terjadi error karena saya tidak menggunakan str. Fungsi str sendiri adalah mengembalikan representasi nilai yang terbaca. Jadi sepengetahuan saya, str harus digunakan dalam program ini untuk membaca int agar operasi bisa dijalankan.