# **5.11 *While Loop***

In [ ]:
a = 0
while a < 5 + 1 :
  print (a * '*')
  a += 1
  
#Membuat segitiga bintang dari while loop dengan cara yang simple. 
#Pada while a kurang dari 5 itu saya tambahkan satu karena saya ingin baris dari segitga itu berjumlah lima.

*
**
***
****
*****

In [ ]:
a = 0
while a < 10 :
  print ('Angka ' + str(a) + ' masih dibawah 10')
  a += 1

#Pada program while loop akan selalu bekerja jika hasilnya adalah true.
#Namun jika hasilnya adalah false, maka program akan berhenti berjalan.

Angka 0 masih dibawah 10
Angka 1 masih dibawah 10
Angka 2 masih dibawah 10
Angka 3 masih dibawah 10
Angka 4 masih dibawah 10
Angka 5 masih dibawah 10
Angka 6 masih dibawah 10
Angka 7 masih dibawah 10
Angka 8 masih dibawah 10
Angka 9 masih dibawah 10

# **5.12 *List* di Python**

In [ ]:
hewan = ['kucing', 'singa', 'zebra']
print(hewan)

#Pada kode ini list digunakan untuk mencetak urutan yang sudah kita buat.

['kucing', 'singa', 'zebra']

In [ ]:
print(hewan[0])

#Seperti string index, saat mencetak urutan ke-0 maka output yang dikeluarkan adalah kata yang pertama.

kucing

In [ ]:
print(hewan[-1])

#Jika mencetak urutan -1 maka output yang dikeluarkan adalah kata terakhir.

zebra

In [ ]:
print(hewan[-2])

#Jika mencetak urutan -2 maka output yang dikeluarkan adalah kata kedua yang dihitung dari belakang.

singa

In [ ]:
hewan[2] = 'tikus'
print(hewan)

#Perintah ini seperti perintah replace yang dimana dapat mengganti kata yang kita inginkan.

['kucing', 'singa', 'tikus']

In [ ]:
print(hewan[0:3])

#Perintah ini mencetak kata dari urutan ke-0 sampai ke-3, namun urutan ketiga tidak dihitung dalam python.

['kucing', 'singa', 'tikus']

In [ ]:
print(hewan)

#Karena kata sudah diganti maka saat mencetak kata-kata yang keluar adalah sesuai dengan yang sudah diganti.

['kucing', 'singa', 'tikus']

# **5.13 Metoda *List***

In [8]:
Matkul = ['Probabilitas', 'Kalkulus', 'Algoritma', 'Agama']
Matkul.append('Statistika')
print(Matkul)

#Metoda list pada kode ini dapat menambahkan isi sesuai dengan yang kita inginkan, dengan menggunakan perintah append.

['Probabilitas', 'Kalkulus', 'Algoritma', 'Agama', 'Statistika']

In [9]:
Matkul.insert(1, 'Aljabar')
print(Matkul)

#Perintah insert sedikit mirip dengan perintah append, yang dimana fungsinya adalah menambahkan objek baru.
#Namun untuk insert ini dapat menggunakan angka untuk menambahkan kata pada urutan yang kita inginkan.

['Probabilitas', 'Aljabar', 'Kalkulus', 'Algoritma', 'Agama', 'Statistika']

In [ ]:
Matkul.remove('Probabilitas')
print(Matkul)

#Perintah remove digunakan untuk menghapus kata yang kita inginkan.

['Aljabar', 'Kalkulus', 'Algoritma', 'Agama', 'Statistika']

In [ ]:
print('Probabilitas' in Matkul)

#Perintah ini dilakukan untuk mengecek apakah kata tersebut terdapat pada list.

False

In [ ]:
print('Kalkulus' in Matkul)

#Perintah ini dilakukan untuk mengecek apakah kata tersebut terdapat pada list.

True

In [ ]:
print(len(Matkul))

#Fungsi perintah ini adalah untuk menghitung semua objek yang ada pada list terakhir.

5

# **5.14 *For Loop***

In [ ]:
snack = ['oreo', 'bengbeng', 'malkist', 'chocolatos']
for jenis in snack:
  print(jenis)

#Perintah ini digunakan untuk mencetak semua objek yang ada pada list

oreo
bengbeng
malkist
chocolatos

In [ ]:
i = 0
while i < len(snack):
  print(snack[i])
  i += 1

#Perulangan while digunakan ketika jumlah perulangannya belum ditentukan.

oreo
bengbeng
malkist
chocolatos

In [ ]:
i = 0
while i < len(snack):
  print(snack[i])
  i+=2

#Pada kode ini outputnya hanya dua yang keluar, hal ini dikarenakan i menjadi syarat mencetak perulangan ini.
#Karena i+=2 maka akan dicetak objek pertama lalu objek selanjutnya yang berkelipatan dua.

oreo
malkist

In [ ]:
i = 1
while i < len(snack):
  print(snack[i])
  i += 1

#Dapat dilihat pada kode ini saya menuliskan i = 1 
#yang dimana objek yang muncul akan dimulai dari urutan ke-1 bukan ke-0.

bengbeng
malkist
chocolatos

# **5.15 Fungsi *Range***

In [ ]:
for i in [0,1,2,3,4]:
  y=i**2
  print(y)

#Perintah ini berguna untuk mengeluarkan output bilangan berurutan atau berpola.
#Sesuai dengan operasi yang kita buat.

0
1
4
9
16

In [ ]:
i = 0
while i < 4:
  y=i**2
  print(str(y))
  i += 1

#Sama halnya dengan kode sebelumnya yang menggunakan bantuan for loop untuk membuat bilangan berpola.
#Namun pada kode ini digunakan string untuk membaca variabel yang dibuat.

0
1
4
9

In [ ]:
a = 5
for i in range (1, a+1):
  print ((a-i) * " " + (2*i-1) * "*" )

#Program ini dibuat karena saya menonton youtube tentang python.
#Untuk membuat output seperti ini, saya menggunakan bantuan excel untuk menghitung 
#spasi dan membuat tingkatannya agar membentuk pola segitiga.

    *
   ***
  *****
 *******
*********